.buttons-container {
    margin: 0 auto;
    align-self: flex-end;
    margin-top: 30px
}

.button-return-wrapper {
    display: inline-block;
    margin-right: 10%;
    width: 30%;
    margin-left: 15%;
    margin-bottom: 20px;
}

.button-return {
    width: 100%;
    background-color: black;
    color: orange;
    border: none;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 20px;

}

.button-purchase-wrapper {
    display: inline-block;
    width: 30%;
}

.button-purchase {
    width: 100%;
    background-color: orange;
    color: black;
    border: none;
    font-weight: bold;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 20px;
}

.text-row-container {
    padding-left: 25%; 
    margin-bottom: 25px
}

.text-row {
    color: orange;
    margin-top: 10px;
}              

.title-container {
    display: inline;
    text-transform: uppercase;
    color: orange;
    font-weight: bold;
}

.text-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.choosen-offer-img {
    width: 100%;
    height: 190px;
    margin-bottom: 15px;
}

.main-container {
    width: 60%;
    height: 100%;
    background-color:#282C34 ;
    border: 2px;
    border-color: orange;
    border-style: solid;
    margin-bottom: 20px;
}