@media only screen and (max-width: 600px) {
  .Menu-Panel {
    background-color: orange;
  }
  .logo {
    font-size: 14px;
    font-weight: bold;
    color: orange;
  }
}

@media only screen and (min-width: 768px) {
  .Menu-Panel {
    background-color: orange;
  }

  .grid-item-a {
    display: inline;
  }

  .grid-item-b {
    display: inline;
  }

  header {
    background-color: #282C34;
  }

  .logo {
    font-size: 14px;
    font-weight: bold;
    color: orange;
  }
}

@media only screen and (min-width: 992px) {
  .Menu-Panel {
    background-color: orange;
  }

  .grid-item-a {
    display: inline;
    color: white;
  }

  .grid-item-b {
    display: inline-block;
  }

  .grid-container {
    background-color: #282c34;
    height: 60px;
    color: white;
  }

  .MuiList-root.MuiMenu-list.MuiList-padding {
    background-color: #14161a;
    color: white;
  }

  .logo {
    font-size: 14px;
    font-weight: bold;
    color: orange;
  }
}

@media only screen and (min-width: 1200px) {
  .Menu-Panel {
    background-color: orange;
  }

  .grid-item-a {
    display: inline;
  }

  .grid-item-b {
    display: inline-block;
  }
  .logo {
    font-size: 14px;
    font-weight: bold;
    color: orange;
  }
}
