.card {
  width: 45%;
  display: block;
  margin: 60px auto;
  box-shadow: 10px 5px 40px 20px darken(#341cac, 5%);
  transition: 0.25s;
  background-color: orange !important;
  border-radius: 0px !important;
}

.card-header {
  height: 150px;
  width: 100%;
  padding: 15px;
  width: 100%;
  background-size: cover;
  color: orange;
  border-style: solid;
  border-color: orange;
}

.card-header--title {
  text-transform: uppercase;
  margin: 0;
  color: orange;
  font-weight: bold;
}

.card-body {
  padding: 15px;
  background-color: #282C34;
  width: 100%;
  border-style: solid;
  border-width: thin;
  border-color: orange;
}

.date {
  font-weight: 600;
  color: orange;
  font-size: 17px;
}

.body-content {
  padding-bottom: 10px;
  font-size: 17px;
  line-height: 1.8;
  color: orange;
}

.button-primary {
  border: none;
  box-shadow: none;
  font-family: inherit;
  background-color: transparent;
  color: orange;
  font-size: 18px;
  transition: 0.25s;
  margin-left: 35%;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-weight: bold;
  border-radius: 20px;
  font-weight: bold;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.designer-link {
  color: #fff;
  text-align: center;
  font-size: 12px;
  text-decoration: none;
  display: block;
}

.offers-card-body-title {
  color: orange;
  text-transform: uppercase;
  font-weight: bold;
}

.card-body-text-content-container {
  margin-left: 30%;
  padding-bottom: 30px;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
